{% extends 'base.html.twig' %}

{% block title %}Connexion - Unidevi{% endblock %}


{% block body %}
    <div class="login-container p-5">
        <div class="logo text-center"><img src="/images/logo.png" alt="logo" /></div>

        <div class="login-card">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se deconnecter</a>
                </div>
            {% endif %}

            <h2 class="text-center fw-bold mb-4">Se connecter</h2>

            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label fw-semibold">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label fw-semibold">Mot de passe</label>
                    <div class="input-group input-group-lg">
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        <span class="input-group-text bg-transparent"><i class="bi bi-info-circle"></i></span>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="btn btn-primary w-100 btn-lg">Se connecter</button>
            </form>

            <div class="divider text-center">ou</div>

            <p class="text-center mb-0">
                Vous n’avez pas de compte ?
                <a href="{{ path('app_register') }}">Créer un compte</a><br />
                <a href="{{ path('app_reset_password_process') }}">Reinitialiser le mot de passe</a>
            </p>
        </div>

        <footer class="text-center mt-4">
            Paiement sécurisé <strong>via Stripe</strong> • Données hébergées en France
        </footer>
    </div>
{% endblock %}
